body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
  fill: lightsteelblue;
}

.line {
  fill: none;
  /*stroke: steelblue;*/
  stroke-width: 1.5px;
}

.dot {
  fill: white;
  /*stroke: steelblue;*/
  stroke-width: 1.5px;
}

.rect {
  fill: #333;
}
